$input_width: 90%;
$box_width: 30%;

.login-box {

  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  text-align: center;
  padding: 10px;
  width: $box_width;

  mat-form-field {
    width: $input_width;
  }

  button {
      width: $input_width;
  }

}
